.about-product {
	min-height: 410px;
	padding: 140px 0;
	background-color: var(--beige-100-bg-color);

	@media (max-width:1500px) {
		padding: 100px 0;
	}

	@media (max-width:991px) {
		padding: 80px 0;
	}

	@media (max-width:739px) {
		padding: 60px 0;
	}

	&__container {}

	&__title {
		background: var(--gradient-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		margin-bottom: 45px;

		@media (max-width:1300px) {
			margin-bottom: 40px;
			font-size: 40px;
		}

		@media (max-width:739px) {
			margin-bottom: 30px;
		}

		@media (max-width:575px) {
			font-size: 28px;
			line-height: 100%;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: start;
		max-width: 68%;

		@media (max-width:1500px) {
			max-width: 100%;
		}
	}

	&__text {
		line-height: 26px;

		&:not(:first-child) {
			margin-top: 20px;
		}

		@media (max-width:919px) {
			font-size: 16px;
			line-height: 23px;
		}
	}

}