.aditional-options {
	background-color: var(--beige-100-bg-color);
	padding: 120px 0 140px 0;

	@media (max-width:1300px) {
		padding: 100px;
	}

	@media (max-width:991px) {
		padding: 80px 0;
	}

	@media (max-width:739px) {
		padding: 60px 0;
	}

	&__container {}

	&__title {
		background: var(--gradient-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 50px;

		@media (max-width:1300px) {
			margin-bottom: 40px;
			font-size: 40px;
		}

		@media (max-width:739px) {
			margin-bottom: 30px;
		}

		@media (max-width:575px) {
			font-size: 28px;
			line-height: 100%;
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	&__item {
		&.active {
			.aditional-options__dropdown {
				display: block;
				position: relative;
			}

			.aditional-options__dropdown-item:first-child {
				position: sticky;
				top: 0;
			}

			.aditional-options__button {
				background-color: var(--bright-brown-bg-color);
				color: var(--white-bg-color);
			}

			svg {
				transform: rotate(180deg);
				color: var(--white-bg-color);

			}
		}
	}

	&__button {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: var(--beige-200-bg-color);
		color: var(--brown-text-color);
		border-bottom: 1px solid var(--dark-beige-border-color);
		padding: 24.5px 20px;
		text-align: start;
		transition: background-color .1s linear;

		svg {
			transition: transform .1s linear;
			color: var(--bright-brown-bg-color);
		}
	}

	&__dropdown {
		display: none;
	}

	&__dropdown-item {
		min-height: 80px;
		display: flex;
		flex-direction: column;
		align-items: start;
		padding: 20px;

		span {
			display: inline-block;
			color: var(--brown-text-color);
		}

		.aditional-options__dropdown-item-text {
			margin-bottom: 20px;
			color: var(--black-bg-color);
		}

		.aditional-options__dropdown-price {
			margin-top: 5px;
			color: var(--bright-brown-bg-color);
		}
	}

}