.main {}

.hero {
	padding-top: 40px;
	padding-bottom: 28px;
	height: max-content;
	background-color: var(--beige-100-bg-color);

	@media (max-width:650px) {
		padding-top: 30px;
		padding-bottom: 0px;
	}

	background: url("../Images/hero_bg.png") no-repeat scroll left top var(--beige-100-bg-color);

	&__container {
		display: grid;
		grid-template-columns: 1.18fr 0.8fr;
		gap: 10px;
		height: fit-content;

		@media (max-width:1200px) {
			grid-template-columns: 1fr;
			gap: 0px;
		}

	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: end;
		position: relative;

		&:first-child {
			margin-bottom: 50px;

			@media (max-width:1200px) {
				margin-top: 30px;
				order: 1;
			}
		}

		&:last-child {
			left: 50%;
			transform: translateX(-50%);

		}

	}

	&__swiper {
		display: none !important;
		width: 100%;

		@media (max-width:1200px) {
			display: unset !important;
		}
	}

	&__image-holder {

		gap: 10px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 640px;
		height: fit-content;
		margin: 20px;
		margin-left: 31px;
		margin-top: 31px;
		position: relative;

		@media (max-width:1200px) {
			display: none;
		}
	}

	&__title {
		background: var(--gradient-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		line-height: 110%;

		@media (max-width:1600px) {
			font-size: 56px;
			line-height: calc(56px * 1.1);
		}

		@media (max-width:650px) {
			font-size: 32px;
			line-height: calc(32px * 1.1);
		}
	}

	&__subtitle {
		display: inline-block;
		margin-top: 30px;

		@media (max-width:1300px) {
			font-size: 20px;
		}

		@media (max-width:1300px) {
			margin-top: 20px;
		}

		@media (max-width:650px) {
			margin-top: 15px;
			font-size: 16px;
			line-height: calc(1.3 * 16px);
		}
	}

	&__link-box {
		margin-top: 50px;
		display: flex;
		align-items: center;

		@media (max-width:1300px) {
			margin-top: 40px;
		}

		@media (max-width:650px) {
			flex-direction: column;
			width: 100%;
			margin-top: 30px;
		}

	}

	&__link {

		&:not(:last-child) {
			margin-right: 10px;
		}

		@media (max-width:650px) {
			&:not(:last-child) {
				margin-right: 0px;
				margin-bottom: 10px;
			}
		}

		background-color: var(--bright-brown-bg-color);
		color: var(--white-bg-color);
		position: relative;
		display: block;
		padding: 24px 48px;

		@media (max-width:1300px) {
			padding: 12px 32px;
		}

		@media (max-width:650px) {
			text-align: center;
		}

		&:first-child::before {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 10px 0px;
			border-color: transparent transparent var(--beige-100-bg-color) transparent
		}

		&:first-child::after {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0px 10px 10px;
			border-color: var(--beige-100-bg-color) transparent transparent transparent
		}

		&:last-child::before {
			content: '';
			position: absolute;
			bottom: 0px;
			right: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0px 10px 10px;
			border-color: transparent transparent var(--beige-100-bg-color) transparent
		}

		&:last-child::after {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 10px 0px;
			border-color: var(--beige-100-bg-color) transparent transparent transparent
		}

		transition: .2s linear;

		&:hover:first-child {
			background-color: var(--yellow-bg-color);
		}

		&:hover:last-child {
			background-color: var(--brown-text-color);
		}

		@media (max-width:1300px) {
			font-size: 20px;
		}

		@media (max-width:650px) {
			width: 100%;

		}

	}

	&__link-bg {
		background-color: var(--black-bg-color);

	}


	&__box-image {

		max-width: 320px;
		max-height: 375px;
		width: 100%;
		height: 100%;

		&:nth-child(1) {
			position: relative;
			bottom: 8.4%;
			left: 9.8%;

			&::before {
				content: '';
				position: absolute;
				top: 0%;
				right: 0%;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 40px 0px 40px 40px;
				border-color: var(--beige-100-bg-color) transparent transparent transparent
			}

			@media (max-width:1200px) {
				inset: 0;
			}
		}

		&:nth-child(2) {
			position: relative;
			top: 8.4%;
			left: 9.8%;

			&::before {
				content: '';
				position: absolute;
				top: 0px;
				left: 0px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 40px 40px 40px 0px;
				border-color: var(--beige-100-bg-color) transparent transparent transparent
			}

			@media (max-width:1200px) {
				inset: 0;
			}
		}

		&:nth-child(5) {

			position: relative;
			top: 8.4%;
			right: 9.8%;

			&::before {
				content: '';
				position: absolute;
				bottom: 0px;
				left: 0px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 40px 40px 40px 0px;
				border-color: transparent transparent var(--beige-100-bg-color) transparent
			}

			@media (max-width:1200px) {
				inset: 0;
			}
		}

		&:nth-child(4) {
			position: relative;
			bottom: 8.4%;
			right: 9.8%;

			&::before {
				content: '';
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 40px 0px 40px 40px;
				border-color: transparent transparent var(--beige-100-bg-color) transparent
			}

			@media (max-width:1200px) {
				inset: 0;
			}
		}

		@media (max-width:919px) {
			width: 100%;
			height: 100%;
		}
	}

	&__image {
		object-fit: cover;
		overflow: hidden;
		height: 100%;
		width: 100%;

		@media (max-width:919px) {
			width: 100%;
			height: 100%;
		}

	}

	&__image-icon {
		width: 6%;
		aspect-ratio: 1 / 1;
		background-color: var(--bright-brown-bg-color);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%) rotate(45deg);

		@media (max-width:1200px) {
			display: none;
		}
	}
}

.container {}