.house-slider {
	background-color: var(--beige-100-bg-color);
	padding: 35px 0 0 0;

	@media (max-width:1300px) {
		padding: 40px 0 0 0;
	}

	@media (max-width:739px) {
		padding: 30px 0 0 0;
	}

	&__container {}

	&__title {
		background: var(--gradient-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@media (max-width:1500px) {
			font-size: 56px;
			line-height: 110%;
		}

		@media (max-width:739px) {
			font-size: 32px;
		}
	}

	&__items {
		display: grid;
		grid-template-columns: 2.4fr 1fr;
		gap: 40px;
		margin-top: 50px;

		@media (max-width:1500px) {
			grid-template-columns: 2fr 1fr;
		}

		@media (max-width:991px) {
			grid-template-columns: 1fr;
			gap: 80px;
			margin-top: 40px;
		}

		@media (max-width:739px) {

			margin-top: 30px;
		}
	}

	&__item {
		&:last-child {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			min-width: 350px;

			@media (max-width:1500px) {
				min-width: 360px;

			}

			@media (max-width:539px) {
				min-width: unset;

			}
		}
	}

	&__swiper-container {
		display: grid !important;
		grid-template-columns: minmax(10px, 220px) 1fr;
		gap: 20px;

		@media (max-width:1550px) {
			grid-template-columns: minmax(10px, 180px) 1fr;

		}

		@media (max-width:1500px) {
			grid-template-columns: minmax(10px, 100%);
			gap: 6px;

			.mySwiper2 {
				order: -1;
			}

		}
	}

	&__swiper {}

	&__swiper-wrapper {}

	&__swiper-slide {
		cursor: pointer;

		@media (max-width:1500px) {}

		picture {
			width: 100%;
			height: 100%;
		}
	}

	&__swiper-button-next {
		position: absolute;
		top: 0;
	}

	&__info-box {
		display: flex;
		flex-direction: column;

		&:first-child {
			gap: 12px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 3px;
		border-bottom: 1px solid var(--beige-300-bg-color);
	}

	&__text {}

	&__info-title {
		color: var(--bright-brown-bg-color);
		margin-bottom: 30px;

		@media (max-width:991px) {
			margin-top: 30px;
		}

		@media (max-width:739px) {
			font-size: 28px;
		}
	}

	&__info-link {
		display: inline-block;

		@media (max-width:650px) {
			&:not(:last-child) {
				margin-right: 0px;
			}
		}

		width: 100%;
		text-align: center;
		background-color: var(--bright-brown-bg-color);
		color: var(--white-bg-color);
		position: relative;
		display: block;
		padding: 17px 0;


		@media (max-width:1500px) {
			padding: 17px 32px;
		}

		@media (max-width:650px) {
			padding: 17px 32px;
			text-align: center;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0px;
			right: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0px 10px 10px;
			border-color: transparent transparent var(--beige-100-bg-color) transparent
		}

		&::after {
			content: '';
			position: absolute;
			top: 0px;
			left: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 10px 0px;
			border-color: var(--beige-100-bg-color) transparent transparent transparent;
		}

		transition: .2s linear;

		&:hover {
			background-color: var(--yellow-bg-color);
		}

		&:last-child {
			margin-top: 20px;
			background-color: var(--black-bg-color);
		}

		&:hover:last-child {
			background-color: var(--brown-text-color);
		}

		@media (max-width:1500px) {
			font-size: 16px;
		}

		@media (max-width:650px) {
			width: 100%;

		}
	}

	&__swiper-button-prev {}

	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		text-align: center;
		font-size: 18px;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.swiper-container {
		display: flex;
	}

	.swiper {
		width: 100%;
		height: 100vh;
		margin-left: auto;
		margin-right: auto;
	}

	.swiper-slide {
		background-size: cover;
		background-position: center;
		height: auto;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.mySwiper2 {
		width: 100%;
		max-height: 620px;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 40px 40px 40px;
			border-color: transparent var(--beige-100-bg-color) transparent transparent;
			z-index: 2;
		}

		@media (max-width:1500px) {
			max-height: 500px;
		}

		@media (max-width:739px) {
			max-height: 340px;
		}

		@media (max-width:539px) {
			max-height: 240px;
		}
	}

	.mySwiper1 .swiper-button-prev,
	.mySwiper1 .swiper-button-next {
		margin: 0;
		left: 50%;
		transform: translateX(-50%) rotate(90deg);
		right: auto;
	}

	.mySwiper1 .swiper-button-prev {
		top: 0;
		bottom: auto;
	}

	.mySwiper1 .swiper-button-next {
		bottom: 0;
		top: auto;
	}

	.mySwiper1 {
		width: 100%;
		height: 100%;
		box-sizing: border-box;
		max-height: 530px;
		margin: auto 0;

		img {
			border: 3px solid transparent;
		}

		@media (max-width:1500px) {
			max-height: 500px;
		}
	}

	&__swiper-holder {
		height: 100%;
		position: relative;
		display: flex;
	}

	.mySwiper1 .swiper-slide {
		height: 25%;
		max-height: 25%;

		@media (min-width:1501px) {
			width: 100% !important;

		}

		@media (max-width:1500px) {
			height: 100%;
			max-height: 100px;

		}
	}

	.mySwiper1 .swiper-slide-thumb-active {
		img {
			border: 3px solid var(--bright-brown-bg-color);
		}
	}

	&__buttons {
		height: 100%;
		position: relative;
		top: -100%;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		z-index: 1;
	}

	&__button-next {
		cursor: pointer;
		width: 100%;
		height: 100%;
		transition: .2s linear;
		opacity: 0;
		transform: translateX(50px);

		&::before {
			content: '';
			pointer-events: none;
			position: absolute;
			width: 50%;
			height: 100%;
			right: 0;
			z-index: 1;
			top: 0px;
			background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
			opacity: 1;
			pointer-events: none;
		}

		&:hover {
			opacity: 1;
			transform: translateX(0px);
		}


	}

	&__button-prev {
		cursor: pointer;
		width: 100%;
		height: 100%;
		transition: .2s linear;
		opacity: 0;
		z-index: 1;
		transform: translateX(-50px);

		&::before {
			content: '';
			pointer-events: none;
			position: absolute;
			width: 50%;
			height: 100%;
			left: 0;
			z-index: 1;
			top: 0px;
			background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .4));
			opacity: 1;
			pointer-events: none;
		}

		&:hover {
			opacity: 1;
			transform: translateX(0px);
		}


	}

	&__swiper2-button-next {
		transform: rotate(90deg) scale(1.2);
		right: 40px !important;

		@media (max-width:739px) {
			transform: rotate(90deg) scale(1);
		}

		&::after {
			display: none !important;
		}
	}

	&__swiper2-button-prev {
		transform: rotate(270deg) scale(1.2);
		left: 40px !important;

		@media (max-width:739px) {
			transform: rotate(270deg) scale(1);
		}


		&::after {
			display: none !important;
		}
	}

}

.house-slider__swiper-button-prev {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00096 7.56143L15.601 0.961426L17.4863 2.84809L9.00096 11.3334L0.515625 2.84809L2.40096 0.96276L9.00096 7.56276V7.56143Z' fill='%23C35116'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: center;
	transform: rotate(180deg) translateX(50%) !important;
	top: 30px !important;
	left: 50% !important;
	width: 32px !important;
	height: 32px !important;
	padding: 5px !important;
	border: 1px solid var(--beige-300-bg-color);
	transition: opacity .2s linear;

	&:hover {
		opacity: .6;
		transform: translateX(10px);
	}

	@media (max-width:1500px) {
		left: 0 !important;
		top: unset !important;
		bottom: -58px !important;
		transform: rotate(90deg) translateX(-50%) !important;
	}
}

.house-slider__swiper-button-next {
	background-image: url("data:image/svg+xml,%3Csvg width='18' height='12' viewBox='0 0 18 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00096 7.56143L15.601 0.961426L17.4863 2.84809L9.00096 11.3334L0.515625 2.84809L2.40096 0.96276L9.00096 7.56276V7.56143Z' fill='%23C35116'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-size: 20px auto;
	background-position: center;
	transition: .2s ease-in-out;
	transform: rotate(0deg) translateX(-50%) !important;
	left: 50% !important;
	bottom: 5px !important;
	top: unset !important;
	width: 32px !important;
	height: 32px !important;
	padding: 5px !important;
	border: 1px solid var(--beige-300-bg-color);
	transition: opacity .2s linear;

	&:hover {
		opacity: .6;
	}

	@media (max-width:1500px) {
		left: unset !important;
		right: 0 !important;
		bottom: -26px !important;
		transform: rotate(270deg) translateX(-50%) !important;
	}
}

.house-slider__swiper-button-next::after {
	display: none !important;
}

.house-slider__swiper-button-prev::after {
	display: none !important;
}

.swiper-vertical>.swiper-wrapper {
	flex-direction: column !important;

	@media (max-width:1500px) {
		flex-direction: row !important;
	}
}