.hvr {

	transition: .2s linear;

	@media (max-width:991px) {
		display: none;
	}
}

.hvr__images {
	position: relative;
}

.hvr__sectors {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
}

.hvr__sector {
	flex-grow: 1;
}

.images {
	display: flex;
	overflow: hidden;
}

.image {
	display: block;
	height: 320px;
	width: 100%;
	object-fit: cover;
	object-position: center;

	@media (max-width:991px) {
		height: 240px;
	}
}

.hvr__dots {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
}

.hvr__dot {
	width: 7px;
	height: 7px;
	margin: 10px 5px 0;
	border-radius: 50%;
	background: var(--white-bg-color);
}

.hvr__dot--active {
	background: var(--black-bg-color);
}