.page-navigation {
	background-color: var(--beige-100-bg-color);
	padding-top: 60px;

	@media (max-width:739px) {
		padding-top: 40px;
	}

	&__container {
		display: flex;
		align-items: center;
	}

	&__item {
		display: flex;
		align-items: center;

		span {
			color: var(--black-text-color);
			display: inline-block;
			margin-right: 5px;
		}
	}

	&__link {
		color: var(--black-text-color);
		display: block;
		margin-right: 4px;

	}
}